:root {
    --colorP: rgba(255, 255, 255, 0.445);
    background-color: aliceblue;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    clear: both;
    font-family: 'Balsamiq Sans', cursive;
}

html,body{
    height: 100%;
    display: block !important;
}


.flex-center{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.hover:hover {
    background-color: rgb(216, 216, 216) !important;
}